/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM_SYM 1
#define NAV     2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
        
//   |  Q  |  W  |  E  |  R  |  T  |  Y  |  U  |  I  |  O  |   P   |
//   |   A   |  S  |  D  |  F  |  G  |  H  |  J  |  K  |  L  |  '  |
//   |    Z    |  X  |  C  |  V  |  B  |  N  |  M  |  UP  |   L2   |
//   |CTRL | WIN | ALT |  SPACE/L1   | SPACE/L1  |RIGHT|DOWN |LEFT |

            bindings = <
    &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y   &kp U   &kp I  &kp O  &kp P
    &kp A  &kp S  &kp D  &kp F  &kp G   &kp H  &kp J  &kp K  &kp L  &kp SQT
    &mt RSHIFT Z   &kp X   &kp C   &kp V   &kp B   &kp N   &kp M   &kp DOT
    &kp LSHFT &kp LGUI &kp LALT &lt 1 SPACE  &lt 2 SPACE &kp LEFT &kp DOWN &kp RIGHT
            >;
        };
        num_sym {
        
//   |  1  |  2  |  3  |  4  |  5  |  6  |  7  |  8  |  9  |   0   |
//   |       |     |     |     |  \  |  {  |  }  |  -  |  =  |  :  |
//   |         |     |     |     |     |     |      |  /  |   L2   |
//   |CTRL | WIN | ALT |  SPACE/L1   | SPACE/L1  |RIGHT|DOWN |LEFT |

            bindings = <
    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9   &kp N0
    &trans   &trans   &trans   &trans   &kp BSLH  &kp LBKT  &kp RBKT  &kp MINUS &kp EQUAL  &kp SEMI
    &kp DEL     &none      &none      &none     &none      &none      &none    &kp COMMA     &kp FSLH
    &trans &trans    &trans         &trans        &trans             &kp RET     &trans    &kp FSLH
            >;
        };

    nav {
    
//   | ESC | F1  | F2  | F3  | F4  | F5  | F6  | F7  | F8  | BKSP  |
//   |  TAB  | BT0 | BT1 | BT2 | BT3 | F9  | F10 | F11 | F12 |BTCLR|
//   |  SHIFT  |     |     |     |     |     |VOLDN|VOLUP  |       |
//   |CTRL | WIN | ALT |  SPACE/L1   | SPACE/L1  |MPREV| PP | MNEXT|
            bindings = <
    &kp ESC  &kp F1       &kp F2       &kp F3       &kp F4       &kp F5      &kp F6       &kp F7      &kp BSPC
    &kp TAB  &bt BT_SEL 0 &bt BT_SEL 01 &bt BT_SEL 02 &bt BT_SEL 03 &kp F9 &kp F10   &kp F11  &kp F12  &BT_CLR
    &kp Shift       &none       &none      &none      &none      &none      &kp C_VOL_DN   &kp C_VOL_UP  &none
    &trans     &trans      &trans       &trans              &trans              &kp C_PREV &kp C_PP &kp C_NEXT
            >;
        };
    };
};
